{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Moin Hosseini</title>

    <link rel="shortcut icon" href="{% static 'myapp/assets/images/fav.jpg' %}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/assets/css/style.css' %}" />
</head>

<body>
    <div class="container-fluid overcover">
        <div class="container profile-box">
            <div class="row">
                <div class="col-md-4 left-co">
                    <div class="left-side">
                        <div class="profile-info">
                            <img src="{% static 'myapp/assets/images/profile.jpg' %}" alt="Moin Hosseini's Image">
                            <h3>Moin Hosseini</h3>
                            <span>Web Developer</span>
                        </div>
                        <h4 class="ltitle">Contact</h4>
                        <div class="contact-box pb0">
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="detail">
                               Phone : +98 913 432 8531
                            </div>
                        </div>
                         <div class="contact-box pb0">
                            <div class="icon">
                                <i class="fab fa-telegram"></i>
                            </div>
                            <div class="detail">
                                <a href="https://t.me/MHSinAlpha" target="_blank">ID : @MHSinAlpha</a>
                            </div>
                        </div> 
                        <div class="contact-box">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="detail">
                                Live in : Tehran
                            </div>
                        </div>
                        <h4 class="ltitle">Contact</h4>
                        <ul class="row social-link no-margin">
                            <li><a href="https://www.linkedin.com/in/moin-hosseini/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://github.com/MoinHosseini" target="_blank"><i class="fab fa-github"></i></a></li>
                        </ul>
                        <h4 class="ltitle">Implemented Projects <br> <small>Freelance</small></h4>
                        <div class="refer-cov">
                            <b>Garse</b>
                            <p>Book Store</p>
                            <span>Site : <a href="https://example.com" target="_blank" style="color: inherit; text-decoration: inherit;">Click Me</a></span>
                            <li><small>Repo :</small> <a href="https://github.com/MoinHosseini/garse" target="_blank"><i class="fab fa-github"></i></a></li>
                        </div>
                        <div class="refer-cov">
                            <b>Hesaweb</b>
                            <p>Accounting and storage management</p>
                            <li><small>Repo :</small> <a href="https://github.com/your-repo-url" target="_blank"><i class="fab fa-github"></i></a></li>
                        </div>
                        <div class="refer-cov">
                            <b>ToDo</b>
                            <p>Simple To-do-list</p>
                            <li><small>Repo :</small> <a href="https://github.com/MoinHosseini/todolist" target="_blank"><i class="fab fa-github"></i></a></li>
                        </div>
                        <div class="refer-cov">
                            <b>Yara</b>
                            <p>Gym Management and tutorial</p>
                            <li><small>Repo :</small> <a href="https://github.com/MoinHosseini/gym" target="_blank"><i class="fab fa-github"></i></a></li>
                        </div>
                        <div class="refer-cov">
                            <b>Moin</b>
                            <p>Introduction Page</p>
                            <li><small>Repo :</small> <a href="https://github.com/MoinHosseini/todolist" target="_blank"><i class="fab fa-github"></i></a></li>
                        </div>
                        

                        <h4 class="ltitle">Hobbies</h4>
                        <ul class="hoby row no-margin">
                            <li><i class="fas fa-pencil-alt"></i> <br> Writing</li>
                            <li><i class="fas fa-bicycle"></i> <br> Cycling</li>
                            <li><i class="fas fa-futbol"></i> <br> Football</li>
                            <li><i class="fas fa-film"></i><br> Movies</li>
                            <li><i class="fas fa-plane-departure"></i> <br>Travel</li>
                            <li><i class="fas fa-gamepad"></i> <br> Games</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 rt-div">
                    <div class="rit-cover">
                        <div class="hotkey">
                            <h1 class="">Moin Hosseini</h1>
                            <small>Web Developer</small>
                        </div>
                        <h2 class="rit-titl"><i class="far fa-user"></i> Profile</h2>
                        <div class="about">
                            <p>
                                With a master's degree in hand and fluent proficiency in English,
                                 I bring a robust foundation to the table. My expertise shines in 
                                 Python, Django, Django REST framework, and database management systems.
                                  As a skilled and patient team worker, I also possess a working knowledge
                                   of Linux, Docker, Git, and GitHub. I am actively seeking a role that offers new challenges,
                                    allowing me to refine my skills and contribute effectively to upcoming projects. 
                                    {% comment %} <hr>  
"فارغ‌التحصیل مقطع کارشناسی ارشد با تسلط به زبان انگلیسی و تجربه در زمینه‌های Python، Django، Django REST framework، و مدیریت پایگاه داده. با دانش کامل در زمینه‌های Linux، Docker، Git، و GitHub، توانمندی در کار تیمی و صبر در محیط کاری را دارم. در جستجوی فرصت‌هایی جدید با چالش‌های متنوع برای بهبود مهارت‌ها و مشارکت مؤثر در پروژه‌های آینده." {% endcomment %}
                                    {% comment %} <div class="btn-ro row no-margin">
                                <ul class="btn-link">
                                    <li>
                                        <a href=""><i class="fas fa-cloud-download-alt"></i> Download Resume</a>
                                    </li>
                                </ul>
                            </div> {% endcomment %}
                        </div>

                        <h2 class="rit-titl"><i class="fas fa-briefcase"></i> Work Experiance</h2>
                        <div class="work-exp">
                            <h6>Backend Developer <span>2022 - 2023</span></h6>
                            <i>Hamgam Sanaat - Tehran</i>
                            <br><i><small><em>Full-time -  On-Site</em></small></i>
                            <ul>
                                <li><i class="far fa-hand-point-right"></i> Implementing an automation system for the company itself</li>
                                <li><i class="far fa-hand-point-right"></i> Skills: Python, Django, DRF, DBMS, Git</li>
                            </ul>
                        </div>
                        <div class="work-exp">
                            <h6>Freelance Web Developer <span>2021-2022</span></h6>
                            <i>At : 127.0.0.1</i>
                            <br><i><small><em>Full-time - Remote</em></small></i>
                            <ul>
                                <li><i class="far fa-hand-point-right"></i> Design and implementation of three separate projects </li>
                                <li><i class="far fa-hand-point-right"></i> Self-employed remote full-time work: one solo and, two in remote teams </li>
                                <li><i class="far fa-hand-point-right"></i> Skills: Django, DRF, DBMS, HTML, CSS, BS4, JS, Git</li>
                            </ul>
                        </div>
                        <div class="work-exp">
                            <h6>Django Intern <span>2021</span>
                            <br>
                            <span><small>Jan - Jul</small></span></h6>
                            <i>Tandis complex - Tehran</i>
                            <br><i><small><em>Full-time - On-Site</em></small></i>
                            <ul>
                                <li><i class="far fa-hand-point-right"></i> Internship in the backend team of a vast complex </li>
                                <li><i class="far fa-hand-point-right"></i> Six months, full-time, on-site  </li>
                                <li><i class="far fa-hand-point-right"></i> Skills: Python, Django, Git</li>
                            </ul>
                        </div>
                        <div class="work-exp">
                            <h6>Junior Data Enginner <span>2020</span>
                                <br>
                                <span><small>June - Dec</small></span></h6>
                            <i>Dataak - Tehran</i>
                            <br><i><small><em>Full-time - On-Site</em></small></i>
                            <ul>
                                <li><i class="far fa-hand-point-right"></i> Developing a sentiment analysis system based on persian twitter </li>
                                <li><i class="far fa-hand-point-right"></i> Skills: Python, Elastic Search, Kafka, mongoDB</li>
                            </ul>
                        </div>
                        <div class="work-exp">
                            <h6>Programming Languages Teacher<span>2017 - 2019</h6>
                            <i>University of Isfahan - Isfahan</i>
                            <br><i><small><em>Part-time - On-Site</em></small></i>
                            <ul>
                                <li><i class="far fa-hand-point-right"></i> Teaching Python and Java in the university of Isfahan </li>
                            </ul>
                        </div>

                        <h2 class="rit-titl"><i class="fas fa-graduation-cap"></i> Education</h2>
                        <div class="education">
                            <ul class="row no-margin">
                                <li class="col-md-6"><span>2016-2021</span> <br>
                                    Bachelor's Degree - Esfahan University</li>
                                    <li class="col-md-6"><span>2021-2023</span> <br>
                                    Master's Degree - Esfahan University</li>
                            </ul>
                        </div>

                        <h2 class="rit-titl"><i class="fas fa-users-cog"></i> Skills</h2>
                        <div class="profess-cover row no-margin">
                            <div class="col-md-6">
                                <div class=" prog-row row">
                                    <div class="col-sm-6">
                                        Python
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        Django
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        Django Rest Framework
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        Git - GitHub
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        Docker - Linux
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        Html - CSS - JS - BootStrap
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        BeautifulSoup - XPath - Selenium
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        Team Work
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        Clean Code
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        English
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{% static 'myapp/assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/popper.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/script.js' %}"></script>

</html>